@import 'https://fonts.googleapis.com/css?family=Roboto:300,700,400italic,700italic&subset=latin';

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ECEFF1;
    color: #263238;
    display: table;
    font-weight: 250;
    font-family: 'Roboto';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 86px;
    margin-bottom: 40px;
}

.message {
    font-size: 24px;
}