<!-- Welcome to Wright PHP start building your web app fast and easy! -->

<!DOCTYPE html>
<html>
    <head>
        <title>Wright PHP</title>
        <?php include '../application/views/includes/links.phtml';?>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="title">Wright PHP</div>
                <div class="message">I am Epic!</div>
            </div>
        </div>
    </body>
</html>
